@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    min-width:100vw;
}

.input-range__track--active{
    background:#ff0000 !important;
}

.input-range__slider,.input-range__slider-container{
    background: #ff0000 !important;
    border:none  !important;
}